rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Las creaciones pueden ser leídas por cualquiera que tenga el enlace.
    // Solo se pueden crear nuevas, pero no modificar ni borrar desde el cliente.
    match /creations/{creationId} {
      allow read, create: if true;
      allow update, delete: if false; // Nadie puede modificar o borrar.
    }
  }
}