rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite que cualquiera lea las imágenes (para poder verlas)
    // Permite que cualquiera escriba (suba) imágenes si son menores a 5 MB.
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.resource.size < 5 * 1024 * 1024;
    }
  }
}